section.call-to-action {
  .content {
    .text {
      color: $light;
      line-height: 1.2;
      
      & * {
        width: 100%;
      }
    }
    
    p {
      letter-spacing: .25rem;
      font-size: .75rem;
      font-weight: 500;
      font-variant: small-caps;
    }
    
    h4 {
      padding: 0rem;
      font-weight: 500;
      font-size: $h3-font-size;
    }
  }
  
  form {
    label {
      input {
        outline: none;
      }
      
      .error-msg {
        display: none;
      }
    } 
    
    
    .error {
      padding: .125rem;
      border-radius: .5rem;
      background-color: $danger;
      
      input {
        background-image: url('/assets/images/icon-error.svg');
        background-color: $light;
        background-size: 1.5rem;
        background-position: calc(100% - 1rem) 50%;
        background-repeat: no-repeat;
      }
      
      .error-msg {
        display: inline-block;
        padding: .125rem .5rem;
        color: $light;
        font-weight: 500;
        font-size: .75rem;
        font-style: italic;
      }
    }
    
  }
}