section.extensions {
  .extension-card {
    max-width: max-content;
    padding: 3rem 0;
    padding-bottom: 1.5rem;
    box-shadow: $box-shadow;
    border-radius: $border-radius-xl;
    background-color: $light;
    
    @include media-breakpoint-up("lg") {
      &:nth-child(2) {
        margin-top: 2.5rem;
      } 
      
      &:last-child {
        margin-top: 5rem;
      }
    }
    
    
    &>.wrapper {
      @include flex;
      
      &>span {
        display: inline-block;
        width: 100%;
        
        &:last-child {
          a { width: 100%; }
          padding: 0 1.5rem; 
        }
      }
      
    }
    
    main {
      @include flex($g: 2rem);

      .text {
        @include flex($g: .25rem);
        color: $dark;
        
        h3 { font-size: calc($h3-font-size - .25rem); }
        p { color: $secondary; }
      }
    }
  }
}