footer {
  .links {
    @include flex;
    
    a { 
      color: $light;
      font-size: 0.9rem;
      font-weight: 300;
      letter-spacing: .125rem;
    }
    
    &.socials {
      flex-direction: row;
      gap: 2rem;
    }
  }
}