@import "base/config";
@import "page-sections/header";

body {
  min-height: 100vh;
  .wrapper { max-width: 375px; }
}

.content {
  @include flex;
  .text {
    @include flex;
    p { text-align: center; }
  }
}