@import "base/config";
@import "page-sections/header";

body {
  min-height: 100vh;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  
  &>.wrapper {
    max-width: 375px;
    font-family: Rubik;
  }
}

section>.wrapper {
  width: 100%;
}

.content {
  @include flex($g: 2rem);

  .text {
    @include flex;
    text-align: center;
    color: $secondary;

    h1 {
      font-size: 2rem;
      color: $dark;
    }
  }
}

.curved-block {
  position: absolute;
  width: 80%;
  height: 75%;
  background-color: $primary;
  border-bottom-left-radius: 5rem;
  z-index: -2;
}

.illustration {
  max-width: 100%;
}


.link-btn {
  display: inline-block;
  padding: .85rem .75rem;
  color: white;
  font-weight: 600;
  border-radius: .30rem;
  background-color: $primary;
  box-shadow: 0px .5rem .75rem lightgrey;
}